<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bridge187.corfupages"
    android:installLocation="auto"
    >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <supports-screens android:xlargeScreens="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:resizeable="true"
        android:anyDensity="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="MainApplication"
        android:theme="@style/CorfuPagesTheme"
        >
        <activity
            android:name=".MenuActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListingsActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bridge187.corfupages.MenuActivity" />
        </activity>
        <activity
            android:name=".BipActivity"
             >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bridge187.corfupages.MenuActivity" />
        </activity>
        <activity
            android:name=".ImageViewActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bridge187.corfupages.MenuActivity" />
        </activity>

        <!-- android geo api key must be changed if this code is reused, it matched the signing certificate -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAoW9TVL-QYIBOXx6HWvwqjYdQdFFJYnYo"/>


    </application>

</manifest>
